RewriteEngine on
RewriteRule ^home$ views/home.php [NC]
RewriteRule ^profile$ views/profile.php [NC]
RewriteRule ^account$ views/settings.php [NC]
RewriteRule ^post/([0-9]+)/?$ views/viewPost.php?post=$1 [NC]
RewriteRule ^profile/([A-Za-z-]+)/?$ views/viewProfile.php?user=$1 [NC]
RewriteRule ^logout/?$ lib/logout.php [NC]
