.home-intro {
  position: relative;
  margin: auto;
  text-align: center;
}

/*share post*/
.share-post {
  position: relative;
  margin: auto;
  padding: 15px;
  border: 1px solid grey;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.share-post input {
  border: 1px solid grey;
  width: 250px;
  margin: 5px;
  padding: 3px;
  position: relative;
  left: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.share-post textarea {
  border: 1px solid grey;
  width: 250px;
  height: 70px;
  margin: 0px 5px 0px 5px;
  padding: 3px;
  position: relative;
  left: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.share-post button {
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  left: 220px;
  top: 10px;
  cursor: pointer;
  background-color: white;
}

/*posts*/
.posts {
  width: 400px;
  min-height: 150px;
  height: auto;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.posts-arrow-up {
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 40px;
}

.posts-arrow-down {
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 80px;
}

.posts-vote {
  position: relative;
  top: 55px;
  left: 14px;
}

.posts-avatar {
  height: 40px;
  width: 40px;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 60px;
}

.posts-published {
  font-size: 0.7em;
  font-family: Regular-Italic;
  position: absolute;
  left: 110px;
  top: 100px;
}

.posts-title {
  position: absolute;
  left: 110px;
  top: 5px;
}

.posts-title h3 {
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.posts-content {
  max-width: 60%;
  height: 70px;
  position: absolute;
  left: 110px;
  top: 50px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 55;
}

.posts-edit {
height: 30px;
width: 30px;
background-size: 100%;
border-radius: 50%;
position: absolute;
top: 5px;
right: 5px;
cursor: pointer;
}

.empty-posts {
  width: 50%;
  margin: auto;
}

.comment-button {
  border-radius: 3px;
  width: 85px;
  padding: 3px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/*Edit post*/
.edit-post {
  width: 400px;
  min-height: 200px;
  height: auto;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 10px;
  position: relative;
  display: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit-post-save {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px;
  margin: 5px 0px 0px 5px;
  cursor: pointer;
  position: absolute;
  right: 110px;
  bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit-post-save:active {
  box-shadow: none;
}

.edit-post-delete {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px;
  margin: 5px 5px 0px 5px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit-post-delete:active {
  box-shadow: none;
}

.edit-post-cross {
  background-size: 100%;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  z-index: 99999;
}

.edit-post input {
  border: 1px solid grey;
  padding: 3px;
  margin: 0px 5px 5px 5px;
  top: 5px;
  left: 50px;
  width: 250px;
  position: relative;
}

.edit-post textarea {
  border: 1px solid grey;
  height: 50px;
  padding: 5px;
  margin: 5px 5px 0px 5px;
  left: 50px;
  width: 250px;
  position: relative;
}

@media screen and (max-width: 320px) {
    .posts {
      width: 90%;
      height: 170px;
      margin: 20px auto;
    }

    .edit-post {
      width: 90%;
      height: 160px;
      margin: 20px auto;
    }

    .posts-title {
      top: 15px;
      width: 130px;
    }

    .posts-title h3 {
      width: 130px;
    }

    .posts-content {
      top: 65px;
      height: 45px;
    }

    .posts-published {
      top: 110px;
    }

    .edit-post input {
      left: 5px;
      top: 5px;
      width: 80%;
    }

    .edit-post textarea {
      left: 5px;
      top: 5px;
      width: 80%;
    }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
    .posts {
      width: 80%;
    }

    .posts-title h3 {
      width: 140px;
    }

    .posts-published {
      left: 80px;
    }

    .edit-post {
      width: 80%;
    }

    .edit-post input {
      width: 220px;
      left: 0px;
    }

    .edit-post textarea {
      width: 220px;
      left: 0px;
    }
}

@media screen and (min-width: 377px) and (max-width: 415px) {
    .posts-title h3 {
      width: 145px;
    }

    .posts {
      width: 90%;
      height: 170px;
      margin: 20px auto;
    }

    .edit-post {
      width: 90%;
      height: 160px;
      margin: 20px auto;
    }

    .posts-content {
      top: 65px;
      height: 45px;
    }

    .posts-published {
      top: 110px;
      left: 80px;
    }

    .edit-post input {
      left: 10px;
      top: 10px;
    }

    .edit-post textarea {
      left: 10px;
      top: 5px;
    }

}
