/*settings*/
.settings-intro {
  width: 70%;
  margin: auto;
  text-align: center;
}

.change-settings {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  display: inline-block;
}

.change-settings input {
  border: 1px solid grey;
  padding: 3px;
  margin: 0px 5px 5px 5px;
  width: 200px;
}

.change-settings textarea {
  border: 1px solid grey;
  height: 80px;
  width: 200px;
  padding: 3px;
}

.change-settings button {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
  position: relative;
  left: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.change-settings button:active {
  box-shadow: none;
}

.settings-container {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
}

/*Upload avatar*/
.profile-img {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.profile-img img {
  height: 60px;
  width: 60px;
  background-size: 100%;
  border-radius: 50%;
}

.profile-img input {
  position: relative;
  left: 50px;
  margin: 0px 0px 5px 0px;
}

.profile-img button {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.profile-img button:active {
  box-shadow: none;
}

.empty-avatar p {
  font-size: 0.8em;
  text-align: center;
  padding: 2px;
}
