html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*index*/
.wrapper {

}

.introduction-wrapper {
  text-align: center;
}

.login-wrapper {
  margin: 10px;
  flex-shrink: 1;
  padding: 5px;
  text-align: left;
  position: absolute;
  right: 10px;
  height: 80px;
  width: 180px;
  display: none;
}

.login-wrapper input {
  padding: 3px;
  margin: 4px;
}

.login-wrapper button {
  margin: 4px;
  cursor: pointer;
}

.login-wrapper label {
  font-size: 12px;
}

.login {
  height: 20px;
  width: auto;
  padding: 3px;
  background: white;
  border: 1px solid grey;
  border-radius: 3px;
}

.register-wrapper {
  margin: 10px;
  flex-shrink: 1;
  padding: 5px;
  text-align: left;
  position: absolute;
  right: 10px;
  height: 80px;
  width: 180px;
  display: none;
}

.register-wrapper input {
  padding: 3px;
  margin: 4px;
}

.register-wrapper button {
  margin: 4px;
  cursor: pointer;
}

.register {
  height: 20px;
  width: auto;
  padding: 3px;
  background: white;
  border: 1px solid grey;
  border-radius: 3px;
}

.remember-checkbox {

}
/*header*/

.login-button {
  border-radius: 3px;
  background: white;
  margin: 10px;
  position: absolute;
  right: 65px;
  top: 10px;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
}

.register-button {
  border-radius: 3px;
  background: white;
  margin: 10px;
  position: absolute;
  right: 0px;
  top: 10px;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
}

.account-button {
  border-radius: 3px;
  background: white;
  margin: 10px;
  position: absolute;
  right: 80px;
  top: 10px;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
}

.account-button a {
  text-decoration: none;
  color: black;
}

.navbar {
  background: lightgrey;
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid grey;
}

.logo {
  display: inline-block;
  position: relative;
  height: 20px;
  width: auto;
  left: 15px;
  top: 40%;
}

.logout-button {
  border-radius: 3px;
  background: white;
  margin: 10px;
  position: absolute;
  right: 15px;
  top: 10px;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
}

.logout-button a {
  text-decoration: none;
  color: black;
}

.cookie-box {
  width: 100%;
  height: 45px;
  text-align: center;
  justify-content: center;
  background: #d9d9d9;
  border: 1px solid black;
  display: none;
  color: black;
  padding: 5px;
  position: absolute;
  bottom: 0px;
}

.cookie-box a {
  text-decoration: none;
  color: black;
}

.cookie-box-button {
  height: 30px;
  width: 60px;
  background: white;
  color: black;
  text-align: center;
  position: relative;
  right: -15px;
  bottom: 0px;
}

.profile {
  height: 40px;
  width: auto;
  position: absolute;
  right: 170px;
  top: 5px;
  border-radius: 50%;
}

/*settings*/
.change-text {
  resize: none;
}

.profile-img img {
  height: 60px;
  width: auto;
  border-radius: 50%;
}
