html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}
/*index*/
.cookie-box {
  width: 100%;
  height: 45px;
  text-align: center;
  justify-content: center;
  background: #d9d9d9;
  border: 1px solid black;
  display: none;
  color: black;
  padding: 5px;
  position: absolute;
  bottom: 10%;
}

.cookie-box a {
  text-decoration: none;
  color: black;
}

.cookie-box-button {
  height: 30px;
  width: 60px;
  background: white;
  color: black;
  text-align: center;
  position: relative;
  right: -15px;
  bottom: 0px;
}

.login-wrapper {
  margin: 10px;
  flex-shrink: 1;
  padding: 5px;
  text-align: left;
  position: absolute;
  right: 10px;
  height: 80px;
  width: 180px;
  display: none;
}

.login-wrapper input {
  padding: 3px;
  margin: 4px;
}

.login-wrapper button {
  margin: 4px;
  cursor: pointer;
}

.login-wrapper label {
  font-size: 12px;
}

.login {
  height: 20px;
  width: auto;
  padding: 3px;
  background: white;
  border: 1px solid grey;
  border-radius: 3px;
}

.register-wrapper {
  margin: 10px;
  flex-shrink: 1;
  padding: 5px;
  text-align: left;
  position: absolute;
  right: 10px;
  height: 80px;
  width: 180px;
  display: none;
}

.register-wrapper input {
  padding: 3px;
  margin: 4px;
}

.register-wrapper button {
  margin: 4px;
  cursor: pointer;
}

.register {
  height: 20px;
  width: auto;
  padding: 3px;
  background: white;
  border: 1px solid grey;
  border-radius: 3px;
}

.remember-checkbox {

}
/*header*/

.login-button {
  border-radius: 3px;
  background: white;
  margin: 10px;
  position: absolute;
  right: 85px;
  top: 5px;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
  height: 27px;
  width: auto;
  font-size: 1.0em;
}

.register-button {
  border-radius: 3px;
  background: white;
  margin: 10px;
  position: absolute;
  right: 15px;
  top: 5px;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
  height: 27px;
  width: auto;
  font-size: 1.0em;
}

.account-button {
  border-radius: 3px;
  background: white;
  margin: 10px;
  position: absolute;
  right: 80px;
  top: 5px;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
  height: 27px;
  width: auto;
  font-size: 1.0em;
}

.account-button a {
  text-decoration: none;
  color: black;
}

.navbar {
  background: lightgrey;
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid grey;
}

.logo {
  display: inline-block;
  position: relative;
  height: 20px;
  width: auto;
  left: 15px;
  top: 40%;
}

.logo a {
  text-decoration: none;
  color: black;
}

.logout-button {
  border-radius: 3px;
  background: white;
  margin: 10px;
  position: absolute;
  right: 15px;
  top: 5px;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
  height: 27px;
  width: auto;
  font-size: 1.0em;
}

.logout-button a {
  text-decoration: none;
  color: black;
}

.profile {
  height: 40px;
  width: 40px;
  background-size: 100%;
  position: absolute;
  right: 170px;
  top: 5px;
  border-radius: 50%;
  border: 1px solid grey;
  background: white;
  justify-content: center;
}

.profile-text {
  position: relative;
  top: 30%;
  font-size: 0.9em;
  color: black;
}

/*settings*/
.change-text {

}

.profile-img img {
  height: 60px;
  width: 60px;
  background-size: 100%;
  border-radius: 50%;
}

.empty-avatar {
  background: white;
  border: 1px solid grey;
  height: 60px;
  width: 60px;
}

.empty-avatar p {
  font-size: 0.8em;
  text-align: center;
  padding: 2px;
  position: relative;
  top: 5px;
}
/*profile*/
.profile-info {

}

.profile-username {

}

.profile-name {

}

.profile-bio {

}

.profile-posts {

}
